body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* HEADER */

.art-banner {
    background-color: #2196F3; 
    height: 100vh; 
    display: grid; 
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 20px 1fr 1fr 1fr 20px;
}

.art-banner-bg {
    opacity: 0.1; 
    background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    background-size: cover; 
    grid-column: 1 / 6; 
    grid-row: 1 / 6; 
}

.banner-text {
    color: #FFF; 
    font-size: 8vw; 
    font-weight: bold; 
    grid-column: 2 / span 3; 
    grid-row: 3; 
    align-self: center; 
    justify-self: center; 
}

.btn {
    display: grid;
    grid-column: 3 / 4; 
    grid-row: 4 / 5; 
    background-color: #fff;
    color: #1E88E5; 
    font-size: 3vw; 
    font-weight: bold; 
    width: 15vw; 
    height: 5vw; 
    border-radius: 30px; 
    align-self: center; 
    justify-self: center; 
    text-align: center;
    align-content: center;
    text-decoration: none;
    z-index: 1;
    transition: all 0.3s linear; 
}

a:hover {
    background-color: #1E88E5;
    color: #fff;
    border: 3px solid #fff; 
}

.art-banner::before {
    content: ''; 
    opacity: 0.85; 
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    grid-column: 4; 
    grid-row: 2 / span 2; 
}

.art-banner::after {
    content: ''; 
    opacity: 0.85; 
    border-bottom: 5px solid #fff; 
    border-left: 5px solid #fff; 
    grid-column: 2; 
    grid-row: 3 / span 2; 
}
