body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif; 
}


/* HEADER */

.art-banner {
    background-color: #2196F3; 
    height: 100vh; 
    display: grid; 
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 20px 1fr 1fr 1fr 20px;
}

.art-banner-bg {
    opacity: 0.1; 
    background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    background-size: cover; 
    grid-column: 1 / 6; 
    grid-row: 1 / 6; 
}

.banner-text {
    color: #FFF; 
    font-size: 8vw; 
    font-weight: bold; 
    grid-column: 2 / span 3; 
    grid-row: 3; 
    align-self: center; 
    justify-self: center; 
}

.btn {
    display: grid;
    grid-column: 3 / 4; 
    grid-row: 4 / 5; 
    background-color: #fff;
    color: #1E88E5; 
    font-size: 3vw; 
    font-weight: bold; 
    width: 15vw; 
    height: 5vw; 
    border-radius: 30px; 
    align-self: center; 
    justify-self: center; 
    text-align: center;
    align-content: center;
    text-decoration: none;
    z-index: 1;
    transition: all 0.3s linear; 
}

a:hover {
    background-color: #1E88E5;
    color: #fff;
    border: 3px solid #fff; 
}

.art-banner::before {
    content: ''; 
    opacity: 0.85; 
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    grid-column: 4; 
    grid-row: 2 / span 2; 
}

.art-banner::after {
    content: ''; 
    opacity: 0.85; 
    border-bottom: 5px solid #fff; 
    border-left: 5px solid #fff; 
    grid-column: 2; 
    grid-row: 3 / span 2; 
}


/* MAIN */ 




/* SECTION A */ 

.section-a {
    margin: 50px 0 50px 0; 
    display: flex; 
    justify-content: space-around;
    line-height: 1.6; 
    grid-area: main; 
}

.card-container {
    color: #fff; 
    background-image: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover; 
    padding: 8rem 0 0; 
    max-width: 20em; 
    min-width: 16em; 
    height: 15em; 
    border-radius: 5%; 
    box-shadow: 0px 3px 15px black;
    overflow: hidden; 
    transition: transform 0.5s ease; 
  }

.card-container:nth-child(2) {
    background-image: url("https://images.pexels.com/photos/887751/pexels-photo-887751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.card-container:nth-child(3) {
    background-image: url("https://images.pexels.com/photos/4960420/pexels-photo-4960420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
  
.card-container:hover {
    transform: scale(1.05); 
  }

.card-content {
    padding: 0.5em 1.5em; 
    background: rgba(39, 140, 245, 0.7);
    transform: translateY(80%);
    transition: transform 0.5s ease; 
}

.card-container:hover .card-content {
    transform: translateY(30%);
    transition: transform 0.5s ease; 
}

.card-container h2 {
    text-align: center;
}

.card-container p {
    text-align: justify; 
}

/* SECTION B */ 

.section-b {
    background-color:rgba(39, 140, 245, 0.7); 
    color: #fff; 
}

.section-container {
    margin: 50px; 
    display: flex; 
    justify-content: space-between;
    line-height: 1.6; 
    /* grid-area: secb;  */
    background:rgba(199, 199, 199, 0.7); 
    color: #fff;
    padding: 2em 3em;
}



@media (min-width: 600px) {
    .section-a {
        display: grid; 
        grid-template-columns: 1fr 3fr 1fr;
    }

    .cards-holder {
        grid-column: 2 / 3;
        display: flex; 
        justify-content: space-between;
    }

    .section-b {
        display: grid; 
        grid-template-columns: 1fr 3fr 1fr;
        background-color:rgba(39, 140, 245, 0.7); 
        padding: 2em 3em; 
    }

    .container {
        grid-column: 2 / 3;
    }
}